streamlit
pysqlite3-binary
llama-index
transformers
torch
sentence-transformers
chromadb
llama-index-llms-huggingface
llama-index-llms-huggingface-api
llama-index-core 
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
sacremoses
langchain
langchain-community
einops